@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.content {
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .card {
  background: #fff;
  width: 500px;
  text-align: center;
  padding: 15px 30px 30px 30px;
  box-shadow: 0 5px 10px gray;
}
.content .card .info {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid #08d195;
}
.info1 {
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #08d195;
}
.content .card .details .one {
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content .card button {
  outline: none;

  height: 42px;

  margin-top: 30px;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
  background: white;
  color: #08d195;

  border: 2px solid #08d195;
}
.content button:hover {
  /*filter: brightness(90%);*/
  background: #08d195;
  color: white;
}

input[type="number"] {
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.col-3 {
  float: left;
  width: 27.33%;

  position: relative;
}

input[type="number"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
:focus {
  outline: none;
}
input {
  border: 0;
  padding: 7px 0;
  border-bottom: 1.2px solid #ccc;
}
input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #08d195;
  transition: 0.4s;
}
input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

select {
  padding: 0 30px 0 10px;
  color: #333;
  border: 1.8px solid #ccc;
  border-radius: 3px;
  line-height: 11px;
  height: 30px;
  box-sizing: border-box;
  background: #fff;

  min-width: 100px;
  margin: 0 5px 5px 0;
}
select:focus {
  border-color: #08d195;
}
select::-ms-expand {
  display: none;
}
@media (max-width: 1050px) {
  .content .card {
    margin-bottom: 50px;
  }
}
